body{
    background-image: url(img/background.png);
    background-size: 1830px 1200px;
    background-color: saddlebrown;
}
 
#eredmeny{
    border: 1px solid black;
    width: 100%;
    height: 40vw;
    display: flex;
}

#baloldal{
    background-color: saddlebrown;
    width: 30%;
    height: 40vw;
}

#kartyabox{
    background-color: chocolate;
    border: 1px solid black;
    width: 93%;
    height: 18vw;
    margin: 1vw;
}

#pontbox{
    background-color: chocolate;
    border: 1px solid black;
    width: 93%;
    height: 18vw;
    margin: 1vw;
}

#tabla{
    background-color: green;
    border: 1px solid black;
    width: 50%;
    height: 40vw;
    display: flex;
    flex-direction: column;
}

#korokbox{
    background-color: lightblue;
    border: 1px solid black;
    width: 20%;
    height: 40vw;
}

.sordiv{
    display: flex;
    flex-direction: row;
    height: 8vw;
    /* padding: 5px; */
}


.oszlopdiv{
    background-color: yellowgreen;
    border: 1px solid black;
    margin: 5px 2.5px;
    width: 16.6%;
}

img {
    width: 100%;
    height: 100%;
}

